.tariff {
    background: #fff;
    // height: 200px;

    &__wrapper{
        padding-top: 58px;
    }

    &__title {
        display: block;
        margin-bottom: 22px;
    }

    &__tags-wrapper {
        display: flex;
        // flex-direction: column;
        // flex-direction: row;
        // align-items: baseline;
        // overflow-y: auto;
        // @include desktop-1024 {
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: 24px;
        // }
    }

    &__cards-wrapper {
        display: flex;
        flex-direction: column;
        @include desktop-1024 {
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: 24px;
        }
    }

    &__tag {
        padding: 6px 24px;
        margin: 0 12px 12px 0;
        background: #FAFAFA;
        border: 1px solid #B3B9CB;
        box-sizing: border-box;
        border-radius: 3px;
        cursor: pointer;
        transition: $transition_default ease-in-out;

        &:hover {
            border: 1px solid #069DFA;
        }

        &_state {
            &_active {
                background: #069DFA;
                color: #fff !important;
            }
        }
    }

    &__card-block {
        display: none;
        // display: flex;
        // flex-wrap:wrap;
        width: 100%;

        @include desktop-1024 {
            transition: $transition_default ease-in-out;
        }


        &_state_hide {
            display: none;
            @include desktop-1024 {

            }
        }

        &_state_active {
            display: block;
            // display: flex;
            // flex-wrap:wrap;
            @include desktop-1024 {
            }
        }
    }

    &__card-wrapper {
        display: flex;
        flex-wrap:wrap;
    }

    &__card-about-title {
        font-size: 24px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: -0.01em;
        color: #364364;
        margin-bottom: 24px;
    }

    &__card-about-subtitle {
        color: #364364;
        margin-bottom: 12px;
        display: inline-block;
    }

    &__card-about-title-br {
        display: block;
        @include desktop-1024 {
            display: none;
        }
    }

    &__card-about-text {
        margin-bottom: 24px;
        font-size: 15px;
        line-height: 24px;
        color: $color_gefault;
    }

    &__card {
        width: 100%;
        height: 505px;
        padding: 24px 28px 48px;
        margin-bottom: 24px;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(17, 56, 86, 0.2);
        @include desktop-1024 {
            height: 530px;
            width: calc(33% - 10px);
            margin: 6px;
            padding: 24px 48px 48px 48px;
        }
    }

    &__card-title {
        font-size: 15px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: #069DFA;
        cursor: pointer;
        border-bottom: 1px dashed #069DFA;
        padding-bottom: 2px;
        display: inline-block;
        margin-bottom: 10px;
    }

    &__card-description {
        color: #6A7287;
        letter-spacing: 0.03em;
        font-size: 14px;
        line-height: 18px;
        min-height: 42px;
    }

    &__card-ssd {
        font-size: 24px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: -0.01em;
        height: 54px;
    }

    &__card-sites-count {
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: -0.01em;
        height: 24px;
    }

    &__card-sites-count {
        letter-spacing: 0.03em;
    }

    &__card-db {
        color: #6A7287;
        letter-spacing: 0.03em;
        display: flex;
        align-items: center;
        height: 60px;
        font-size: 14px;
        line-height: 18px;
    }

    &__card-bonus-wrapper {
        height: 48px;
        padding-left: 28px;
        margin-bottom: 12px;
    }

    &__card-bonus-text {
        font-size: 15px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #364364;
    }

    &__card-bonus-icon {
        position: absolute;
        left: 0;
        top: 5px;
        width: 16px;
        height: 24px;
        background: url(../img/tariff/icon-plus.svg) no-repeat;
        background-position: unset;
    }

    &__card-price-wrapper {
        font-size: 14px;
        line-height: 34px;
        display: flex;
        align-items: baseline;
        letter-spacing: 0.03em;
        margin: 24px 0;
    }

    &__card-price-text {
        font-size: 24px;
    }

    &__button {
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 24px;
        text-align: center;
        height: 48px;
        border: none;
        width: 100%;
        background: $button_bg;
        border-radius: $button_radius;

        @include desktop-1024 {
            width: 240px;
        }


        &:hover {
            text-decoration: none;
        }

        span {
            color: #fff;
            font-size: 15px;
            line-height: 24px;
            font-weight: bold;
        }
    }

    &__popup {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        right: 0;

        background: rgba(204, 204, 204, 0.3);
        z-index: 1;

        @include desktop-1024 {
            height: 100%;
            bottom: 0;
        }

        &_state_active {
            display: flex;
        }
    }

    &__popup-wrapper {
        position: relative;
        padding: 30px;
        background: #fff;
        box-shadow: 0px 4px 8px rgba(17, 56, 86, 0.1);
        border-radius: 3px;
        @include desktop-1024 {
            padding: 48px;
            height: auto;
            width: 1106px;
        }
    }

    &__popup-content {
        overflow-x: auto;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-bottom: 150px;
        @include desktop-1024 {
            padding-bottom: 0;
            overflow-x: unset;
            height: auto;
        }
    }

    &__popup-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -0.01em;
        color: #069DFA;
        cursor: pointer;
        border-bottom: 1px dashed #069DFA;
        padding-bottom: 2px;
        display: inline-block;
        margin-bottom: 42px;
    }

    &__popup-close {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 48px;
        height: 48px;
        background: url(../img/tariff/icon-close.svg) no-repeat;
        background-position: center;
        cursor: pointer;
    }

    &__popup-desc {
        display: flex;
        flex-direction: column;
        margin-bottom: 36px;
        @include desktop-1024 {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 16px;

            &_small-margin {
                margin-bottom: 18px;
            }
        }
    }

    &__popup-desc-item {
        width: 100%;
        @include desktop-1024 {
            width: 210px;
        }
    }

    &__popup-desc-text {
        font-size: 15px;
        line-height: 24px;
        color: #9399AA;
    }

    &__popup-desc-value {
        margin-bottom: 12px;
        font-size: 15px;
        line-height: 24px;
        color: #364364;
        @include desktop-1024 {
            margin-bottom: 0;
        }
    }

    &__popup-cms-list {
        display: flex;
        margin-bottom: 36px;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;

        @include desktop-1024 {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__popup-cms-item {
        background-position: center;
        height: 60px;
        width: 33%;
        @include desktop-1024 {
            width: 72px;
            height: 60px;
        }

        &_bitrix {
            background: url(../img/tariff/icon-bitrix.svg) no-repeat;
        }

        &_wp {
            background: url(../img/tariff/icon-wp.svg) no-repeat;
        }

        &_joomla {
            background: url(../img/tariff/icon-joomla.svg) no-repeat;
        }

        &_opencard {
            background: url(../img/tariff/icon-opencard.svg) no-repeat;
        }

        &_drupal {
            background: url(../img/tariff/icon-drupal.svg) no-repeat;
        }

        &_modx {
            background: url(../img/tariff/icon-modx.svg) no-repeat;
        }

        &_umi {
            background: url(../img/tariff/icon-umi.svg) no-repeat;
        }

        &_host {
            background: url(../img/tariff/icon-host.svg) no-repeat;
        }
        @include desktop-1024 {
        }
    }

    &__popup-footer {
        display: flex;
        flex-direction: column-reverse;
        @include desktop-1024 {
            flex-direction: row;
        }
    }

    &__popup-footer-item {
        width: 100%;

        &_mod-action {
            margin-bottom: 24px;
            display: flex;
            flex-direction: column;
            // justify-content: flex-end;
            // align-items: flex-end;
            @include desktop-1024 {
                flex-direction: row;
                margin-bottom: 0;
            }
        }
        @include desktop-1024 {
            justify-content: flex-end;
            align-items: flex-end;
        }
    }

    &__popup-price-wrapper {
        margin-bottom: 12px;
        margin-right: 36px;
        font-size: 14px;
        display: flex;
        align-items: baseline;
        letter-spacing: 0.03em;
        @include desktop-1024 {
            margin-bottom: 0;
        }
    }

    &__popup-price-text {
        font-size: 24px;
    }

    &__popup-button {
        padding: 12px 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 24px;
        text-align: center;
        height: 48px;
        border: none;
        width: 100%;
        background: $button_bg;
        border-radius: $button_radius;


        &:hover {
            text-decoration: none;
        }

        span {
            color: #fff;
            font-size: 15px;
            line-height: 24px;
            font-weight: bold;
        }
    }

    &__popup-price-mont {
        font-size: 24px;
    }
}
